From: ausadmin <ausadmin@aus.news-admin.org>
To: $RECIP$
Subject: [auto] Discussion period ended, $NG$

G'day,

The 21 day discussion period for $NG$ has passed.
Would you like to put this newsgroup to a vote now?

Nick.
